/* Imports */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  color: #444;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
}

.message {
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  color: red;
  font-size: 2rem;
}

#legend {
  width: 200px;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ccc;
  opacity: 0.5;
}
#legend .legend-title {
  font-size: 18px;
}
#legend .backdrop {
  color: #ccc;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin-top: 5px;
}
#legend table {
  width: 100%;
}
#legend table thead tr {
  font-weight: bold;
}
#legend table thead tr.divider {
  vertical-align: top;
}
#legend table tr.divider {
  height: 25px;
  vertical-align: bottom;
}
#legend table tr td {
  width: 50%;
}
#legend table tr td:last-of-type {
  text-align: right;
}

#author {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  font-size: 12px;
  color: #ccc;
}
#author .column.description {
  text-align: right;
  padding-right: 10px;
}
#author .column #portrait {
  display: flex;
  border: 1px solid #ccc;
  width: 100px;
}

.no-padding {
  padding: 0 !important;
}

.center-text {
  text-align: center;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIl9lbGVtZW50cy5zY3NzIiwiY29tcG9uZW50cy9fc2NlbmUuc2NzcyIsIl9oZWxwZXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7QUNFQTtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FBR0Q7RUFDQztFQUNBOzs7QUFHRDtFQUNDOzs7QUNiRDtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFFQTtFQUNBOzs7QUFHRDtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQSxPQXJCVztFQXNCWDs7QUFFQTtFQUNDOztBQUdEO0VBQ0MsT0E1QmdCO0VBNkJoQjtFQUVBLGtCQTlCZTtFQStCZjtFQUNBOztBQUdEO0VBQ0M7O0FBSUM7RUFDQzs7QUFFQTtFQUNDOztBQU9GO0VBQ0M7RUFDQTs7QUFHRDtFQUNDOztBQUVBO0VBQ0M7OztBQU9MO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBLE9BM0VXOztBQStFVjtFQUNDO0VBQ0E7O0FBR0Q7RUFDQztFQUNBO0VBQ0E7OztBQ3JGSDtFQUNDOzs7QUFHRDtFQUNDIiwic291cmNlc0NvbnRlbnQiOlsiLyogSW1wb3J0cyAqL1xyXG4vLyBUaGlzIHByb2plY3QgdXNlcyBpbnZlcnRlZCB0cmlhbmdsZSBDU1MgYXJjaGl0ZWN0dXJlIChodHRwczovL3d3dy54Zml2ZS5jby9ibG9nL2l0Y3NzLXNjYWxhYmxlLW1haW50YWluYWJsZS1jc3MtYXJjaGl0ZWN0dXJlLylcclxuXHJcbi8vIGdsb2JhbFxyXG5AdXNlICd2YXJzJztcclxuQHVzZSAnbWl4aW5zJztcclxuQHVzZSAnZWxlbWVudHMnO1xyXG5AdXNlICdnbG9iYWwnO1xyXG5cclxuQHVzZSAnY29tcG9uZW50cy9zY2VuZSc7XHJcblxyXG5AdXNlICdoZWxwZXJzJzsiLCIvLyBFbGVtZW50cyDigJMgc3R5bGluZyBmb3IgYmFyZSBIVE1MIGVsZW1lbnRzXHJcblxyXG5ib2R5IHtcclxuXHRmb250LWZhbWlseTogJ1JvYm90bycsIHNhbnMtc2VyaWY7XHJcblx0bWFyZ2luOiAwO1xyXG5cdG92ZXJmbG93OiBoaWRkZW47XHJcblx0YmFja2dyb3VuZC1jb2xvcjogI2YwZjBmMDtcclxuXHRjb2xvcjogIzQ0NDtcclxuXHRmb250LXNpemU6IDE2cHg7XHJcbn1cclxuXHJcbmNhbnZhcyB7XHJcblx0d2lkdGg6IDEwMCU7XHJcblx0aGVpZ2h0OiAxMDB2aDtcclxufVxyXG5cclxuaW1nIHtcclxuXHRtYXgtd2lkdGg6IDEwMCU7XHJcbn0iLCIkdGV4dENvbG9yOiAjY2NjO1xyXG4kbGVnZW5kVGV4dENvbG9yOiAjY2NjO1xyXG4kdGV4dEJhY2tncm91bmQ6IHJnYmEoMjU1LCAyNTUsIDI1NSwgLjEpO1xyXG5cclxuLm1lc3NhZ2Uge1xyXG5cdGZvbnQtc2l6ZTogMjJweDtcclxuXHRwb3NpdGlvbjogYWJzb2x1dGU7XHJcblx0bGVmdDogNTAlO1xyXG5cdHRvcDogMjBweDtcclxuXHR0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoLTUwJSk7XHJcblx0XHJcblx0Y29sb3I6IHJlZDtcclxuXHRmb250LXNpemU6IDJyZW07XHJcbn1cclxuXHJcbiNsZWdlbmQge1xyXG5cdHdpZHRoOiAyMDBweDtcclxuXHRmb250LXNpemU6IDEycHg7XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG5cdGJvdHRvbTogMjBweDtcclxuXHRsZWZ0OiAyMHB4O1xyXG5cdGNvbG9yOiAkdGV4dENvbG9yO1xyXG5cdG9wYWNpdHk6IC41O1xyXG5cdFxyXG5cdC5sZWdlbmQtdGl0bGUge1xyXG5cdFx0Zm9udC1zaXplOiAxOHB4O1xyXG5cdH1cclxuXHRcclxuXHQuYmFja2Ryb3Age1xyXG5cdFx0Y29sb3I6ICRsZWdlbmRUZXh0Q29sb3I7XHJcblx0XHRib3JkZXI6IDFweCBzb2xpZCAkdGV4dENvbG9yO1xyXG5cdFx0Ly9iYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIC40KTtcclxuXHRcdGJhY2tncm91bmQtY29sb3I6ICR0ZXh0QmFja2dyb3VuZDtcclxuXHRcdHBhZGRpbmc6IDVweDtcclxuXHRcdG1hcmdpbi10b3A6IDVweDtcclxuXHR9XHJcblx0XHJcblx0dGFibGUge1xyXG5cdFx0d2lkdGg6IDEwMCU7XHJcblx0XHRcclxuXHRcdHRoZWFkIHtcclxuXHRcdFx0XHJcblx0XHRcdHRyIHtcclxuXHRcdFx0XHRmb250LXdlaWdodDogYm9sZDtcclxuXHRcdFx0XHRcclxuXHRcdFx0XHQmLmRpdmlkZXIge1xyXG5cdFx0XHRcdFx0dmVydGljYWwtYWxpZ246IHRvcDtcclxuXHRcdFx0XHR9XHJcblx0XHRcdH1cclxuXHRcdH1cclxuXHRcdFxyXG5cdFx0dHIge1xyXG5cdFx0XHRcclxuXHRcdFx0Ji5kaXZpZGVyIHtcclxuXHRcdFx0XHRoZWlnaHQ6IDI1cHg7XHJcblx0XHRcdFx0dmVydGljYWwtYWxpZ246IGJvdHRvbTtcclxuXHRcdFx0fVxyXG5cdFx0XHRcclxuXHRcdFx0dGQge1xyXG5cdFx0XHRcdHdpZHRoOiA1MCU7XHJcblx0XHRcdFx0XHJcblx0XHRcdFx0JjpsYXN0LW9mLXR5cGUge1xyXG5cdFx0XHRcdFx0dGV4dC1hbGlnbjogcmlnaHQ7XHJcblx0XHRcdFx0fVxyXG5cdFx0XHR9XHJcblx0XHR9XHJcblx0fVxyXG59XHJcblxyXG4jYXV0aG9yIHtcclxuXHRwb3NpdGlvbjogYWJzb2x1dGU7XHJcblx0cmlnaHQ6IDIwcHg7XHJcblx0dG9wOiAyMHB4O1xyXG5cdGRpc3BsYXk6IGZsZXg7XHJcblx0Zm9udC1zaXplOiAxMnB4O1xyXG5cdGNvbG9yOiAkdGV4dENvbG9yO1xyXG5cdFxyXG5cdC5jb2x1bW4ge1xyXG5cdFx0XHJcblx0XHQmLmRlc2NyaXB0aW9uIHtcclxuXHRcdFx0dGV4dC1hbGlnbjogcmlnaHQ7XHJcblx0XHRcdHBhZGRpbmctcmlnaHQ6IDEwcHg7XHJcblx0XHR9XHJcblx0XHRcclxuXHRcdCNwb3J0cmFpdCB7XHJcblx0XHRcdGRpc3BsYXk6IGZsZXg7XHJcblx0XHRcdGJvcmRlcjogMXB4IHNvbGlkICR0ZXh0Q29sb3I7XHJcblx0XHRcdHdpZHRoOiAxMDBweDtcclxuXHRcdH1cclxuXHR9XHJcbn0iLCIvLyBWZXJ5IHNwZWNpZmljIGhlbHBlciBjbGFzc2VzIHRoYXQgY2FuIG92ZXJyaWRlIGFueXRoaW5nXHJcblxyXG4ubm8tcGFkZGluZyB7XHJcblx0cGFkZGluZzogMCAhaW1wb3J0YW50O1xyXG59XHJcblxyXG4uY2VudGVyLXRleHQge1xyXG5cdHRleHQtYWxpZ246IGNlbnRlcjtcclxufSJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
